@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fcp2pj');
  src:  url('../fonts/icomoon.eot?fcp2pj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fcp2pj') format('truetype'),
    url('../fonts/icomoon.woff?fcp2pj') format('woff'),
    url('../fonts/icomoon.svg?fcp2pj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-clock:before {
  content: "\e900";
}
.icon-date:before {
  content: "\e901";
}
.icon-up:before {
  content: "\e601";
}
.icon-star:before {
  content: "\e604";
}
.icon-right:before {
  content: "\e605";
}
.icon-left:before {
  content: "\e608";
}
.icon-hook:before {
  content: "\e609";
}
.icon-down:before {
  content: "\e60b";
}
.icon-wrong:before {
  content: "\e61a";
}
.icon-gantan:before {
  content: "\e62d";
}
.icon-18:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-user-2:before {
  content: "\e904";
}
.icon-ticket:before {
  content: "\e905";
}
.icon-ticket-2:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
}
.icon-cart-2:before {
  content: "\e908";
}
.icon-sort:before {
  content: "\e909";
}
.icon-sort-2:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-home-2:before {
  content: "\e90c";
}
.icon-coin:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-circle:before {
  content: "\e90f";
}
.icon-address:before {
  content: "\e910";
}
.icon-notes:before {
  content: "\e911";
}
.icon-recharge:before {
  content: "\e912";
}
.icon-market:before {
  content: "\e913";
}
.icon-service:before {
  content: "\e914";
}
.icon-papers:before {
  content: "\e915";
}
.icon-order:before {
  content: "\e916";
}
.icon-help:before {
  content: "\e917";
}
.icon-tel:before {
  content: "\e918";
}
.icon-map:before {
  content: "\e919";
}
.icon-account:before {
  content: "\e91a";
}
.icon-code:before {
  content: "\e91b";
}
.icon-mobile:before {
  content: "\e91c";
}
.icon-buy:before {
  content: "\e91d";
}
.icon-ticket-3:before {
  content: "\e91e";
}
.icon-change:before {
  content: "\e91f";
}
.icon-top:before {
  content: "\e920";
}
.icon-password:before {
  content: "\e921";
}
.icon-arrow-down:before {
  content: "\e922";
}
.icon-minus:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e924";
}
.icon-arrow-up:before {
  content: "\e925";
}
.icon-ebuy:before {
  content: "\e926";
}
.icon-del:before {
  content: "\e927";
}
.icon-edit:before {
  content: "\e928";
}
